<div class="container">
  <div class="center-align">
    <h2 class="noto"> <%= @user.username %>'s PodFolio </h2>
  </div>

  <% @selected_podcasts.each do |selected_podcast| %>
    <% podcast = selected_podcast.podcast %>
    <div class="hoverable card-panel grey lighten-1">
      <div class="row">
        <div class="left-align noto col s8" id="podcast-title">
          <h4><%= link_to "#{podcast.name}", podcast_path(podcast.id), {:style=>'color:black;'} %></h4>
        </div>
      <% if @user.id == session[:user_id] %>
        <div class="btn yellow darken-2 col s1 offset-s2" id="user-show-button">
          <div id="trash-button">
            <%= link_to image_tag("trashcan.png"), selected_podcast_path(selected_podcast), method: :delete, data: { confirm: "You sure?" } %>
          </div>
        </div>
        <% end %>
      </div>

      <div class="row left-align">
        <div class="col s4">
          <img id="show-images" src="<%= podcast.img_url %>">
        </div>
        <div class="col s8 in-tile-text">
          <p><%= (podcast.description) %></p>
        </div>
      </div>

    </div>
  <% end %>
  <div class="btn yellow darken-2">
    <%= link_to "Add a podcast to your collection", podcasts_path, {:style=>'color:black;'} %>
  </div>


</div>
