<div class="container">
  <div class="center-align">
    <h1>Add a Podcast</h1>
  </div>


  <div id="app">

  </div>

  <div>
  <%= form_tag(podcasts_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], plac5eholder: "Find a new podcast" %>
    <div>
      <%= submit_tag "Search", :name => nil, class: "button" %>
    </div>
  <% end %>
  </div>
  <br>

  <% if @res %>
    <% @res.results.each do |key, show| %>
      <div class="hoverable card-panel cyan lighten-4 row">
        <div class="col s5">
          <h4><%= key.title %></h4><br>
        </div>
        <div class="col s7">
          <%= key.description %>
        </div>
        <% key.id %>
      </div>
      <div>
        <form method="post" action="/podcasts" class="button_to waves-effect waves-light btn">
          <input type="hidden" id="title" name="title" value="<%= key.title %>" />
          <input type="hidden" id="description" name="description" value="<%= key.description %>" />
          <input value="Save podcast" type="submit" />
        </form>
      </div>
        <br>
        <br>
    <% end %>
  <% end %>
</div>
