<div class="container">
  <div class="center-align">
    <h1 class="noto">Add a Podcast</h1>
  </div>

  <div id="app">
  </div>

  <div>
  <%= form_tag(podcasts_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], plac5eholder: "Find a new podcast" %>
    <div>
      <%= submit_tag "Search", :name => nil, class: "button" %>
    </div>
  <% end %>
  </div>
  <br>

  <% if @res %>
    <% @res.results.each do |key, show| %>
      <div class="hoverable card-panel red lighten-5">
        <div class="center-align">
          <h4><%= key.title %></h4><br>
        </div>
        <div class="row center-align">
          <div class="col s8 in-tile-text">
            <%= key.description %>
          </div>

          <% if key.image_files %>
            <div class="col 4">
              <img width="250" src=<%= key.image_files.first.file.url %>>
            </div>
          <% end %>
        </div>

        <div class="">
          <p> Audiosearch buzz score: <%= key.buzz_score %> </p>
        </div>

        <% key.id %>

      </div>
      <div>
        <form method="post" action="/podcasts" class="button_to waves-effect waves-light btn">
          <input type="hidden" id="title" name="title" value="<%= key.title %>" />
          <input type="hidden" id="description" name="description" value="<%= key.description %>" />
          <input type="hidden" id="buzzscore" name="buzzscore" value="<%= key.buzz_score %>" />
          <input type="hidden" id="audiosearch_id" name="audiosearch_id" value="<%= key.id %>" />
          <% if key.image_files %>
            <input type="hidden" id="img_url" name="img_url" value="<%= key.image_files.first.file.url %>" />
          <% end %>
          <input value="Save podcast" type="submit" />
        </form>
      </div>
        <br>
        <br>
    <% end %>
  <% end %>
</div>
