<div class="container">
  <div class="center-align">
    <h1 class="noto">Add a Podcast</h1>
  </div>

  <div id="app">
  </div>

  <div>
  <%= form_tag(podcasts_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], plac5eholder: "Find a new podcast" %>
    <div>
      <%= submit_tag "Search", :name => nil, class: "button" %>
    </div>
  <% end %>
  </div>
  <br>

  <% if @res %>
    <% @res.results.each do |key, show| %>
      <div class="hoverable card-panel grey lighten-1">
        <div class="left-align">
          <h4 id="search-title"><%= key.title %></h4><br>
        </div>
        <div class="row center-align" id="search-index-tile-content">

          <% if key.image_urls %>
            <div class="col 4">
              <img id="show-images" src=<%= key.image_urls.full %>>
            </div>
          <% end %>
          <div class="col s8 in-tile-text" id="search-tile-text">
            <%= key.description %>
          </div>
        </div>
      <div class="row">
        <div class="col s4 ">
          <p id="search-buzz"> Audiosearch buzz score: <%= key.buzz_score %> </p>
        </div>

        <% key.id %>


      <div class="col s3 offset-s5" id="save-podcast-button">
        <form method="post" action="/podcasts" class="button_to waves-effect waves-light btn yellow darken-2">
          <input type="hidden" id="title" name="title" value="<%= key.title %>" />
          <input type="hidden" id="description" name="description" value="<%= key.description %>" />
          <input type="hidden" id="buzzscore" name="buzzscore" value="<%= key.buzz_score %>" />
          <input type="hidden" id="audiosearch_id" name="audiosearch_id" value="<%= key.id %>" />
          <% if key.image_urls %>
            <input type="hidden" id="img_url" name="img_url" value="<%= key.image_urls.full %>" />
          <% end %>
          <input value="Save podcast" type="submit" />
        </form>
      </div>
    </div>
    </div>
        <br>
    <% end %>
  <% end %>
</div>
