<div>
  <h1>Add a Podcast</h1>
</div>


<div id="app">

</div>


<%= form_tag(podcasts_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Find a new podcast" %>
  <%= submit_tag "Search", :name => nil, class: "button" %>

<% end %>


<% if @res %>
  <% @res.results.each do |key, show| %>
    <%= key.title %><br>
    <%= key.description %>
    <% key.id %>
      <form method="post" action="/controller/new" class="button_to">
        <input value="Save podcast" type="submit" />
      </form>
    <br><br>
  <% end %>

<% end %>
