<div class="container center-align show-container">

  <div class="center-align" id="podcast-show-image">
    <img width="400" src=<%= @podcast.img_url %>>
  </div>



  <div>
    <h1 class="noto"> <%= @podcast.name %>  </h1>
  </div>

  <div class="left-align">
    <p> <%= @podcast.description %> </p>
  </div>

  <div class="left-align">
    <p> Audiosearch buzz score: <%= @podcast.buzzscore %> </p>
  </div>





  <div>
    <% if @podcast.selected_podcasts.count == 1 %>
      <p> 1 user is following this podcast. </p>
    <% else %>
      <p> <%= @podcast.selected_podcasts.count %> users are following this podcast. </p>
    <% end %>
  </div>


  <% @podcast.users.each do |user| %>
  <div class="btn blue darken-2">
    <%= link_to "#{user.username}", user_path(user.id), {:style=>'color:white;'} %> <br>
  </div>
  <% end %>




</div>
